inflect==7.0.0
matplotlib==3.8.0
numba==0.58.0
numpy==1.25.2
pandas==2.1.1
phonemizer==3.2.1
tensorboard==2.14.1
tensorboardX==2.6.2.2
torch==2.0.1
torchaudio==2.0.2
torchdata==0.6.1
torchtext==0.15.2
torchvision==0.15.2
tqdm==4.66.1
PyYAML==6.0.1